@import './_variables';

$themes: (
  defaultTheme: (
    themeColor: $lighter-black,
    themeBackgroundColor: $white,
    activeColor: $red,
    activeBackgroundColor: $red,
    btnColor: $red,
    btnBgColor: $white,
    btnBorderColor: $red,
    btnBoxShadow: none,
    btnBorderRadius: $default-border-radius,
    headerColor: $default-text-color,
    headerBgColor: $default-bg-color,
    datePickerSelectedBgColor: $red,
    sidebarColor: $default-text-color,
    sidebarBgColor: $default-bg-color,
    sidebarBtnCloseColor: $dark-grey,
    sidebarBtnCloseActiveColor: $darkest-grey,
    btnHamburgerColor: $dark-grey,
    btnHamburgerActiveColor: $darkest-grey,
  ),
  darkTheme: (
    themeColor: $black,
    themeBackgroundColor: $grey,
    activeColor: $red,
    activeBackgroundColor: $red,
    btnColor: $black,
    btnBgColor: $white,
    btnBorderColor: $black,
    btnBoxShadow: none,
    btnBorderRadius: $default-border-radius,
    headerColor: $dark-theme-text-color,
    headerBgColor: $dark-theme-bg-color,
    datePickerSelectedBgColor: $grey,
    sidebarColor: $dark-theme-text-color,
    sidebarBgColor: $dark-theme-bg-color,
    sidebarBtnCloseColor: $dark-grey,
    sidebarBtnCloseActiveColor: $white,
    btnHamburgerColor: $dark-grey,
    btnHamburgerActiveColor: $white,
  ),
);
