@import '../../styles/variables';
@import '../../styles/_themes';
@import '../../styles/_mixins';

.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

  @include themify($themes) {
    color: themed('themeColor');
    background-color: themed('themeBackgroundColor');
  }

	.main {
		flex: 1 0 auto;
		min-height: calc(100vh - 200px);
    padding-top: 25px;
	}
}
